#overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;z-index: 99999999;display: none;}
.close1 {opacity: 1;text-decoration: none;position: absolute;color: red;right: -11px;top: -10px;background: white;padding: 13px 18px;border-radius: 50%;box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;font-weight: bold;}
.popuppre{width: 100%;margin: 0 auto;position: fixed;z-index: 1999999999999;top: 12%;}
.cnt223{min-width: 600px;width: 600px;min-height: 150px;margin: 100px auto;background: #f3f3f3;position: relative;z-index: 103;padding: 15px 35px;border-radius: 45px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border: 5px solid #ffbebe;}
.cnt223 p{clear: both;color: #555555;font-size: 18px;font-family: sans-serif;padding: 10px 0px;}
.cnt223 p a{color: #d91900;font-weight: bold;position: absolute;top: 12px;right: 20px;opacity: 1;}
.cnt223 .x{float: right;height: 35px;left: 22px;position: relative;top: -25px;width: 34px;}
.cnt223 .x:hover{cursor: pointer;}
/*.cnt223 */.close1:hover{opacity: 1;
}
.bt{padding: 10px 30px;border-radius: 2px;}
.ml-15{margin-left: 15px;}.mr-15{margin-right: 15px;}.mb-10{margin-bottom: 10px;}
.helpimg{position: absolute;top: -92px;}
.mbb-0{margin-bottom: 0px;}
.helpimgb{border: 2px solid #ffffff;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

@-webkit-keyframes fadeInLeft {
    from {opacity:0;-webkit-transform: translatex(-10px);-moz-transform: translatex(-10px);-o-transform: translatex(-10px);transform: translatex(-10px);}
to {opacity:1;-webkit-transform: translatex(0);-moz-transform: translatex(0);-o-transform: translatex(0);transform: translatex(0);}}
@-moz-keyframes fadeInLeft {from {opacity:0;-webkit-transform: translatex(-10px);-moz-transform: translatex(-10px);-o-transform: translatex(-10px);transform: translatex(-10px);}
to {opacity:1;-webkit-transform: translatex(0);-moz-transform: translatex(0);-o-transform: translatex(0);transform: translatex(0);}}
@keyframes fadeInLeft {
from {opacity:0;-webkit-transform: translatex(-1000px);-moz-transform: translatex(-1000px);-o-transform: translatex(-1000px);transform: translatex(-1000px);}
to {opacity:1;-webkit-transform: translatex(0);-moz-transform: translatex(0);-o-transform: translatex(0);transform: translatex(0);}}
.in-left {-webkit-animation-name: fadeInLeft;-moz-animation-name: fadeInLeft;-o-animation-name: fadeInLeft;animation-name: fadeInLeft;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-o-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: 1s;-moz-animation-duration: 1s;-o-animation-duration: 1s;animation-duration: 1s;-webkit-animation-delay: 1s;-moz-animation-delay: 1s;-o-animation-duration:1s;animation-delay: 1s;}
._hj_feedback_container ._hj-ETLL8__MinimizedWidgetMiddle__label {display: none !important;
}
.helpbtn{font-weight: 600;color: white;text-decoration: none;position: fixed;background: #3987bf;cursor: pointer;left: -2px;top: 45%;border-radius: 3px;padding: 17px 9px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;font-size: 13px;border: 1px solid #3987bf;}
.questionjump {text-align: center;color: red;}
.circle {display: inline-block;width: 20px;height: 20px;border-radius: 50%;background: whiteSmoke;box-shadow: 4px -40px 60px 5px rgb(255 255 255) inset;}
.gelatine {animation: gelatine 0.5s infinite;}
@keyframes gelatine {from, to { transform: scale(1, 1); }25% { transform: scale(0.9, 1.1); }50% { transform: scale(1.1, 0.9); }75% { transform: scale(0.95, 1.05); }}
.questionmark{position: absolute;right: 14px;color: red;top: 18px;transform: rotate(-90deg);}

